<p>
  <strong>Name:</strong>
  <%= @beer_club.name %> <%= @beer_club.city %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<h2>Members</h2>
<% if @confirmed_members.empty? %>
    <p>No members.</p>
<% else %>
    <ul>
      <% @confirmed_members.each do |membership| %>
          <li><%= link_to membership.user.username, membership %></li>
      <% end %>
    </ul>
<% end %>

<% if @applicants.any? and current_user %>
    <% if @membership.user_id %>
        <p>Applicants:</p>
        <ul>
          <% @applicants.each do |applicant| %>
              <li>
              <%= link_to applicant.user.username, applicant %>
              <%= link_to "confirm", confirm_membership_path(applicant.id), method: :post, class:'btn btn-primary' %>
              </li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<% if current_user %>
    <% if @membership.user_id.nil? %>

        <%= form_for(@membership) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value:"Join the club", class:'btn btn-primary' %>
        <% end %>
    <% else %>
        <%= form_for(@membership, method: "delete") do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit value: "end the membership", class:'btn btn-danger' %>
        <% end %>
    <% end %>
    <br>
    <%= edit_and_destroy_buttons(@beer_club) %>
<% end %>
