<h2> <%= @user.username %>
  <% if @user.blocked? %>
      <span class="label label-info">frozen</span>
  <%end %>
      </h2>

<p>Has made <%= pluralize(@user.ratings.count, "rating") %></p>

<% if @user.memberships.any? %>
    <h2>Beer clubs</h2>

    <% if @member_of.any? %>
      <strong>member of </strong>
      <ul>
        <% @member_of.each do |confirmed_membership| %>
            <li> <%= confirmed_membership.name %> </li>
        <% end %>
      </ul>
    <% end %>

    <% if @applications.any? %>
    <strong>applied membership of</strong>
    <ul>
      <% @applications.each do |application| %>
          <li> <%= application.name %> </li>
      <% end %>
    </ul>
    <% end %>
<% else %>
    <p>no beerclub memberships</p>
<% end %>

<% if @user.ratings.any? %>
    <p> average rating <%= @user.average_rating %></p>

    <h3>ratings</h3>

    <ul>
      <% @user.ratings.each do |r| %>
          <li>
            <%= r %>
            <% if @user == current_user %>
                <%= link_to 'delete', r, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </li>
      <% end %>
    </ul>

<% end %>


<% if @user==current_user%>
    <%= link_to 'change password', edit_user_path(@user), class:'btn btn-primary' %> <br>
    <%= link_to 'destroy', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger'  %>
<% end %>

<% if current_user && current_user.admin %>
  <% if @user.blocked? %>
    <%= link_to 'reactivate account', toggle_blocked_user_path(@user.id), method: :post, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'froze account', toggle_blocked_user_path(@user.id), method: :post, class: 'btn btn-danger' %>
  <%end %>
<% end %>