<h2><%= @place.name %></h2>

<p>Street: <%= @place.street %></p>
<p>City: <%= @place.city %></p>
<p>zip: <%= @place.zip %></p>

<iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?key=<%= @googleapikey %>
    &q=Space+Needle,Seattle+WA" allowfullscreen>
</iframe>